.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.zdjecieKoszulki{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.produkt{
    margin: auto;
    text-align: center;
    width: 50%;
    border: 2px solid black;
    padding: 10px;
    background-color: lightgrey;
}

.infoPage{
    margin: auto;
    width: 50%;
    border: 2px solid black;
    text-align: center;
    background-color: lightgrey;
}

.logowanie{
    margin: auto;
    width: 50%;
    border: 2px solid black;
    text-align: center;
    background-color: lightgrey;
}

.rejestracja{
    margin: auto;
    width: 50%;
    border: 2px solid black;
    text-align: center;
    background-color: lightgrey;
}

.addToCart{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    background-color: bisque;
}

.navigationbar{
    text-align: center;
    margin-right: 35px;
    margin-left: auto;
}

.infoPageNapisy{
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
}

body{
    background-image: url("tlo.jpg");
}

.przejdzDoSzczegolow{
    background-color: darkgray;
    border: 2px solid black;
}

.koszyk{
    margin: auto;
    text-align: center;
    width: 50%;
    border: 2px solid black;
    padding: 10px;
    background-color: lightgrey;
}
.message{
    text-align: center;
    border: black;
}

.loginInfo{
    padding: 2px;
    border: 2px solid black;
    background-color: lightgrey;
    margin-right: 1455px;
}